* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.topbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 4px 2px rgba(17,16,16,0.5);
    padding: 15px 0;
    position: fixed;
    z-index: 50;
    background-color: #fff;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a h4 {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: 500;
}

.logo a h4 span {
    color: #009688;
    letter-spacing: 1px;
    font-weight: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 30%;
    padding-top: 8px;
}

.nav-links li :hover {
    color: #009688;
}

.nav-links li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(27,25,25);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.icons {
    display: flex;
    color: rgb(27,25,25);
}

.icons i {
    padding-top: 8px;
    font-size: 22px;
    cursor: pointer;
    margin-right: 50px;
    font-weight: 600;
}

.cart i {
    color: rgb(27,25,25);
}

.cart-count {
    color: #fff;
    background-color: #009688;
    border-radius: 50%;
    font-size: 14px;
    padding: 5px 8px;
}