.section-heading {
  margin-top: 100px;
  margin-left: 70px;
  color: rgb(27,25,25);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.4%;
}

.card {
  width: 15%;
  min-width: 200px;
  height: auto;
  margin: 30px 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.card:hover {
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

.card img {
  width: 100%;
}

.detail {
  padding-left: 10px;
  margin: 10px auto;
}

.detail h3 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(27,25,25);
}

.detail h4 {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  color: rgb(110,110,110);
}

.detail h5 {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  letter-spacing: 2px;
  color: #009688;
}

.order-confirm {
  /* margin-top: 200px; */
  margin-bottom: 60px;
  text-align: center;
}

.order-confirm img {
  margin-top: 100px;
  height: 300px;
}

.order-confirm h2 {
  margin-top: 60px;
}

.order-confirm p {
  margin-top: 10px;
}